# Imports

In [1]:
import pandas as pd
import numpy as np
import requests
from requests import get
import re
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import seaborn as sns
import os

# How many users?

In [2]:
url = 'https://www.uvmhealth.org/gme'
headers = {'User-Agent': 'Codeup Data Science'} # Some websites don't accept the pyhon-requests default user-agent
response = get(url, headers=headers)
soup = BeautifulSoup(response.content, 'html.parser')

In [7]:
text = soup.find_all(class_='drop_parent')
text

[<a class="drop_parent" href="/gme/residencies" title="Residencies">Residencies</a>,
 <a class="drop_parent" href="/gme/fellowships" title="Fellowships">Fellowships</a>,
 <a class="drop_parent" href="/gme/applying" title="Applying">Applying</a>,
 <a class="drop_parent" href="/gme/life-in-vermont" title="Life In Vermont">Life In Vermont</a>]

In [18]:
df = pd.read_csv('weblog.csv')
df.head()

,IP,Time,URL,Staus
0,10.128.2.1,[29/Nov/2017:06:58:55,GET /login.php HTTP/1.1,200
1,10.128.2.1,[29/Nov/2017:06:59:02,POST /process.php HTTP/1.1,302
2,10.128.2.1,[29/Nov/2017:06:59:03,GET /home.php HTTP/1.1,200
3,10.131.2.1,[29/Nov/2017:06:59:04,GET /js/vendor/moment.min.js HTTP/1.1,200
4,10.130.2.1,[29/Nov/2017:06:59:06,GET /bootstrap-3.3.7/js/bootstrap.js HTTP/1.1,200