# Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import re
import os

# How many users?

In [64]:
data = pd.read_csv('weblog.csv')
data['Time']= data['Time'].map(lambda x: x.lstrip('['))
data[['date','time']]= data['Time'].str.split(':',n = 1, expand = True)
data.drop(columns=['Time'], inplace = True)
data['date'] = data['date'].str.replace('/', '-')
data['date_time'] = pd.to_datetime(data['time'], errors='coerce')
data.drop(columns=['date'], inplace = True)
data.drop(columns=['time'], inplace = True)
data = data.set_index('date_time').sort_index()
data.head()

                             IP                                     URL Staus
date_time
2021-02-11 00:00:23  10.128.2.1                          GET / HTTP/1.1   302
2021-02-11 00:00:23  10.128.2.1                 GET /login.php HTTP/1.1   200
2021-02-11 00:00:24  10.130.2.1  GET /css/font-awesome.min.css HTTP/1.1   200
2021-02-11 00:00:24  10.128.2.1         GET /css/normalize.css HTTP/1.1   200
2021-02-11 00:00:24  10.131.0.1     GET /css/bootstrap.min.css HTTP/1.1   200

In [62]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16007 entries, 0 to 16006
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   IP         16007 non-null  object
 1   URL        16007 non-null  object
 2   Staus      16007 non-null  object
 3   date_time  15789 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(3)
memory usage: 500.3+ KB